# ....Jetbrains AI.................................................................................
/.junie/ai_ignored/scratch.md
/.junie/ai_artifact/


# ====Dockerized-NorLab============================================================================

# ....DNA common...................................................................................
**/.dockerized_norlab/dn_container_env_variable/.env*
/.env.dockerized-norlab-project.local

**/artifact/*
**/data/external_data/*
**/data/shared_data/*

# ....Dev required.................................................................................
/utilities/tmp/dockerized-norlab-project-mock/
**/.env.dna-internal.local

!**/.dockerized_norlab/dn_container_env_variable/README.md
!**/data/**/README.md
!**/artifact/**/README.md

# ====Common=======================================================================================

# ....Jetbrains....................................................................................
.idea/
*.iml

# ....Jetbrains AI.................................................................................
/.junie/iceboxed_plans/
/.junie/scratch.md
!/.junie/

# ....VM...........................................................................................
**/.vagrant/

# ....Python related...............................................................................
**/.pytest_cache/
**/.benchmarks
**/__pycache__
**/*.pyc

# ....Log..........................................................................................
**/out/
**/*.out
**/*.log

# ....OS...........................................................................................
**/.DS_Store
