# ....Jetbrains AI.................................................................................
/.junie/ai_ignored/scratch.md
/.junie/ai_artifact/


# ====Dockerized-NorLab============================================================================

# ....DNA common...................................................................................
**/.dockerized_norlab/dn_container_env_variable/.env*
**/external_data/**/*
**/artifact/**/*
**/slurm_jobs_logs/*.log

# (Priority) ToDo: validate (ref task NMO-777)
**/.dna_cache/

# ....Dev required.................................................................................
/utilities/tmp/dockerized-norlab-project-mock/
**/.env.dna-internal.local
!**/external_data/README.md
!**/artifact/README.md
!**/artifact/optuna_storage/README.md
!**/.dockerized_norlab/dn_container_env_variable/README.md

# ====Common=======================================================================================

# ....Jetbrains....................................................................................
.idea/
*.iml

# ....Jetbrains AI.................................................................................
/.junie/iceboxed_plans/
/.junie/scratch.md
!/.junie/

# ....VM...........................................................................................
**/.vagrant/

# ....Python related...............................................................................
**/.pytest_cache/
**/.benchmarks
**/__pycache__
**/*.pyc

# ....Log..........................................................................................
out/
**/*.out
**/*.log

# ....OS...........................................................................................
**/.DS_Store
