
# ====Dockerized-NorLab============================================================================
# ....Dev required.................................................................................
/utilities/tmp/dockerized-norlab-project-mock
!**/external_data/README.md
!**/artifact/README.md
!**/artifact/optuna_storage/README.md

# ....DNA common...................................................................................
**/.dockerized_norlab/dn_container_env_variable
**/external_data
**/artifact
**/slurm_jobs_logs/*.log

# ====General======================================================================================

# ....Jetbrains....................................................................................
.idea
*.iml
out
gen

# ....Jetbrains AI.................................................................................
/.junie/iceboxed_plans
/.junie/scratch.md
!/.junie

# ....VM...........................................................................................
**/.vagrant

# ....Python related...............................................................................
**/.pytest_cache
**/.benchmarks
**/__pycache__
**/*.pyc

# ....Log..........................................................................................
**/*.out
**/*.log

# ....General......................................................................................
**/.DS_Store


